body {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

img {
	width: 1em;
}

.canvas {
	padding-top: 0px;
	margin-top: 0px;
}

.score-panel {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.hide {
	display: none;
}